body#login{
    background-image: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8)),url("../images/wizkid-1024x641.jpg");
    background-size:115%;
    background-position:center center;
    width: 100%;
}
@media screen and (max-width:600px){
    body#login{
        background-image: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8)),url("../images/wizkid-1024x641.jpg");
        background-repeat: no-repeat;
        background-size:200%;
    }
    div#form{
        text-align:center;
        width: 80%;
        background: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8));
        margin: 40% 10%;
        border-radius: 10px;
        color:white;
    }
}
@media screen and (width:1024px){
    body#login{
        width:100%;
        background-image: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8)),url("../images/wizkid-1024x641.jpg");
        background-repeat: no-repeat;
        /* background-size:200%; */
        background-size:cover;
    }
    div#form{
        text-align:center;
        width: 100%;
        background: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8));
        margin:18% 50%;
        border-radius: 10px;
        color:white;
    }
}
@media screen and (width:768px){
    body#login{
        width:100%;
        background-image: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8)),url("../images/wizkid-1024x641.jpg");
        background-repeat: no-repeat;
        /* background-size:200%; */
        background-size:cover;
    }
    div#form{
        text-align:center;
        width: 100%;
        background: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8));
        margin:15% 50%;
        border-radius: 10px;
        color:white;
    }
}
#form{
    text-align:center;
    width: 40%;
    background: linear-gradient(rgba(15, 15, 15, 0.8),rgba(15, 15, 15, 0.8));
    margin: 4% 50%;
    border-radius: 10px;
    color:white;
}
#data{
    padding: 3%;
}
input, select{
    border-radius: 3px;
    height: 40px;
}
input[type="submit"]{
    background-color:blue;
    color:white;
}